
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Georgia";
  line-height: 1.5;
  padding: 30px 20px;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h1 {
  padding: 20px 0px 10px 0px;
}

h2 {
  margin-top: lem;
  padding-top: 1em;
}
